/* Add your own CSS code below */

.countries {
  display: flex;
}

.countries--first {
  justify-content: flex-end;
}

.countries--second {
  padding: 0.5em;
  justify-content: space-around;
}

.countries--tall {
  flex-direction: column;
}

.countries--third {
  justify-content: flex-end;
}

.countries--fourth {
  flex-direction: column-reverse;
  justify-content: space-evenly;
}
